@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 10px;
  padding-left: 30px;
  padding-right: 180px;
  background-color: #ffffff;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1.5px solid #0F2C59;
}

.logo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.logo img {
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.logo a {
  font-size: 45px;
  font-weight: 600;
  color: black;
}

.menu {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.menu a {
  position: relative;
  display: inline-block;
  color: black;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.menu .animated {
  position: absolute;
  bottom: 20px;
  height: 8px;
  left: 695px;
  width: 95px;
  background: linear-gradient(45deg, #0F2C59, black);
  border-radius: 5px;
  transition: 0.8s;
  z-index: 0;
  overflow: hidden;
}

.menu a:nth-child(1):hover ~ .animated {
  left: 100;
}
.menu a:nth-child(2):hover ~ .animated {
  left: 800px;
  width: 150px;
}
.menu a:nth-child(3):hover ~ .animated {
  left: 956px;
  width: 115px;
}
.menu a:nth-child(4):hover ~ .animated {
  left: 1075px;
  width: 85px;
}

header {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 99%;
  height: 90vh;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 700px;
  border-radius: 10px;
  object-fit: cover;
}

/* manual slide */

.navigation-manual {
  position: absolute;
  width: 99%;
  border-radius: 5px;
  display: flex;
  bottom: 100px;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: linear-gradient(45deg, #191349, #160662);
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: auto;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: white;
}

#profile {
  color: black;
  padding: 50px;
  width: 100%;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.judul-dokumentasi {
  text-align: center;
  padding: 20px;
}


.deskripsi h1 {
  padding: 10px;
  color: #0F2C59;
}

.deskripsi p {
  padding: 10px;
  color: black;
}


.container {
  width: 1100px;
  margin: auto;
}

#About {
  width: 100%;
  padding: 20px;
  padding-bottom: 70px;
  color: white;
  background-color: #0F2C59;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.image {
  display: flex;
  width: 100%;
  min-height: 300px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
  gap: 20px;
}

.image-box {
  width: 250px;
  height: 300px;
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
}

.image-box img {
  width: 210px;
  height: 200px;
  object-fit: cover;
  position: relative;
  transition: 0.5s;
  border-radius: 5px;
}

.image-box:nth-child(odd) {
  align-self: flex-end;
}

.image-box img:hover {
  opacity: 0.5;
}

.image-box p {
 text-align: center;
 color: #191349;
 
}

#info {
  color: white;
  width: 100%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact {
  padding: 50px;
  background-color: #0F2C59;
  width: 100%;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.contact {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact ul li {
  list-style-type: none;
}

.contact ul li a {
  color: #ffffff;
}

#copyright {
  background-color: #0F2C59;
  width: 100%;
  padding: 30px;
  color: #ffffff;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright p {
  text-align: center;
  font-size: 13px;
}

/* PROFIL JURUSAN */

#about {
  padding: 30px;
  padding-bottom: 80px;
  background-color: #0F2C59;
  color: #ffffff;
}


.menu-about {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.menu-about a {
  position: relative;
  display: inline-block;
  color: #191349;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.menu-about .animated {
  position: absolute;
  height: 8px;
  bottom: 20px;
  left: 800px;
  width: 150px;
  background: linear-gradient(45deg, #191349, black);
  border-radius: 8px;
  transition: 0.5s;
}

.menu-about a:nth-child(1):hover ~ .animated {
  left: 695px;
  width: 95px;
}
.menu-about a:nth-child(2):hover ~ .animated {
  left: 823;
}
.menu-about a:nth-child(3):hover ~ .animated {
  left: 956px;
  width: 130px;
}
.menu-about a:nth-child(4):hover ~ .animated {
  left: 1075px;
  width: 85px;
}

#top {
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}

.guru {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
  height: 300px;
  background-color: #0F2C59;
  border-radius: 20px;
  transition: 0.5s;
}

.card .img-box {
  position: absolute;
  top: 20px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  transition: 1.5s;
}

.card:hover {
  height: 350px;
}

.img-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 2s;
}

.card:hover .img-box {
  top: -60px;
  scale: 0.8;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.card .content {
  position: absolute;
  top: 240px;
  width: 300px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .content {
  top: 200px;
  height: 200px;
}

.card .content h2 {
  font-size: 20px;
  color: white;
}

.card .content p {
  color: white;
  font-size: 15px;
  font-weight: 600;
}


#berita {
  padding-bottom: 30px;
}

.berita {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  color: #0F2C59;
}

.judul-berita {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #0F2C59;
}

.berita-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
} 

.berita-box img {
  width: 300px;
  border-radius: 10px;
}

.berita-content {
  display: flex;
  flex-direction: column;
}

.berita-content a {
  color: #0F2C59;
  font-size: 20px;
  font-weight: 700;
}

.berita-content:hover a {
  text-decoration: underline;
}

.berita-content p {
  color: black;
  font-weight: 200;
}

.berita-btn {
  width: 220px;
  text-align: center;
  background-color: #0F2C59;
  border-radius: 20px;
  transition: 0.5s;
}

.berita-btn:hover {
  transform: scale(1.1);
}

.berita-btn a {
  color: #ffffff;
  font-size: 18px;
}

#kerjasama {
  padding: 30px;
}

.kerjasama {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.kerjasama-judul {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.kerjasama-logo img {
  width: 80px;
}

/* VISI MISI */
.menu-visi {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.menu-visi a {
  position: relative;
  display: inline-block;
  color: black;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.menu-visi .animated {
  position: absolute;
  height: 8px;
  bottom: 20px;
  left: 956px;
  width: 115px;
  background: linear-gradient(45deg, #0F2C59, black);
  border-radius: 8px;
  transition: 0.5s;
}

.menu-visi a:nth-child(1):hover ~ .animated {
  left: 695px;
  width: 95px;
}
.menu-visi a:nth-child(2):hover ~ .animated {
  left: 800px;
  width: 150px;
}
.menu-visi a:nth-child(3):hover ~ .animated {
  left: 981;
}
.menu-visi a:nth-child(4):hover ~ .animated {
  left: 1075px;
  width: 85px;
}


#visi {
  margin-top: 40px;
  padding: 20px;
}

.judul-visi {
  color: #0F2C59;
  text-align: center;
}

.misi {
  color: #0F2C59;
}

.visi-misi {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 15px 20px rgba(112, 111, 111, 0.525);
  gap: 20px;
}

.misi ul li {
  color: #0F2C59;
  list-style-type: square;
}

/* KONTAK */


.menu-contact {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.menu-contact a {
  position: relative;
  display: inline-block;
  color: #0F2C59;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.menu-contact .animated {
  position: absolute;
  bottom: 20px;
  left: 1075px;
  width: 85px;
  height: 8px;
  background: linear-gradient(45deg, #0F2C59, black);
  border-radius: 8px;
  transition: 0.5s;
}

.menu-contact a:nth-child(1):hover ~ .animated {
  left: 695px;
  width: 95px;
}
.menu-contact a:nth-child(2):hover ~ .animated {
  left: 800px;
  width: 150px;
}
.menu-contact a:nth-child(3):hover ~ .animated {
  left: 956px;
  width: 115px;
}
.menu-contact a:nth-child(4):hover ~ .animated {
  left: 970;
  width: 100px;
}

.informasi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}

.informasi-kontak {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 20px;
}

.informasi-kontak h1 {
  font-size: 25px;
  color: #0F2C59;
}

.informasi-kontak ul li {
  list-style-type: none;
}

.informasi-kontak ul li a {
  color: #0F2C59;
  font-size: 25px;
}

.informasi-kontak ul li i {
  font-size: 30px;
}

.informasi-map {
  width: 50%;
}

.informasi-isi ul li {
  color: #0F2C59;
}
